.*.swp
.*.swo
._*
.DS_Store
/.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
.smbdelete*
*.sublime*
.sass-cache
.idea/
*.log
.idea/**/*.xml
*.iml
.idea/*.xml
/data/
tianxiu.sql
LICENSE.txt
poitest.txt
/Cache/
/Cache_PC/
/pay/
pos.php
hb.php
RegisterAction.class.php
c.php
Mywsdl.wsdl
config.php
/wxpay/
config-2016-02-16.php
