@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{margin:0;border:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline;margin-bottom:0px !important}
header,section,aside,footer{display:block;}
body{font:14px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif !important;color:#9A9A9A;background-color:#FCFCFC;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none !important;color:#000 !important;}
a:hover{color:#CE1B41 !important;}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

.head{position:relative;z-index:101;background-color:#fff;color:#333;}
.head .top{height:26px;line-height:26px;background-color:#f5f5f5;color:#777;}
.head .top .inner{width:1000px;margin:0 auto;}
.head .top .inner ul{float:right}
.head .top .inner li{float:left;}
.head .top .inner ul>:nth-child(3){margin-left:10px}
.head .logo{height:96px;clear:both;position:relative;z-index:10px}
.head .logo .head_inner{width:1000px;margin:0 auto;position:relative;}
.head .logo .reallogo{float: left;}
.head .logo .head_inner .searchCont{float: left;padding-top: 30px;padding-left: 50px;}
.head .logo .head_inner .searchCont form{border:2px solid #CE1B41;width: 460px;overflow: hidden;}
.head .logo .head_inner .searchCont .tex{width: 387px;padding:0 0 0 10px !important;font:14px/29px "微软雅黑";float: left;border:none;background:none;}
.head .logo .head_inner .searchCont .but{width: 69px;height:29px;background:#CE1B41;border:none;color: #fff;float: left;}
.head .logo .head_inner img{margin-top:25px}
.m-shopcart{position:absolute;bottom:0;right:0}
.w-icon-10{width:64px;height:56px;zoom:1;}
.w-icon{background:url(../img/icon1.png);display:inline-block;}
.head .head_cart{position:relative;z-index:9;float:right;margin:46px 0 0 30px}
.head .head_cart .tool{position:relative;float:right;width:110px;height:26px;line-height:26px;border:2px solid #CE1B41;}
.head .head_cart .tool .icon{float:right;margin:9px 8px 0 0;width:5px;height:10px;vertical-align:middle;background:url(../img/te_ico.png) no-repeat -70px 0;}
.head .head_cart .tool .car{width:24px;height:24px;display:block;float:left;margin-right:5px;background:url(../img/car1.png) no-repeat #CE1B41;}
.head .head_cart .tool .nub{color:#CE1B41;}
.main{height:44px;line-height:44px;clear:both;background-color:#CE1B41;font-size:14px;color:white;}
.main .head_inner{width:1000px;margin:0 auto;position:relative;}
.main .head_inner .nav_search{float:right}
.main .head_inner .nav_search .searchform{float:right;position:relative;border:1px solid #ccc;margin-left:3px;/*padding-right:4px;*/line-height:normal;margin-top:5px}
.main .head_inner .search{overflow:hidden;border:0;}
.main .head_inner .search .searchbox{width:160px;outline:0;border:0;/*margin:2px 0 0 -1px;*/padding:0 0 0 1px;font-size:13px;float:right;height:18px;color:#000;background:url(../img/search.png) no-repeat right #fff;}
.main_nav_link{float:left}
.main_nav_link li{float:left;}
.main_nav_link li a{color:#fff !important;display:block;text-align:center;width:105px;overflow: hidden;}
.main_nav_link li a:hover{background-color:#ba183b;}
.main_nav_link li a.current{background-color:#89142d;cursor:default;font-weight:700}
/*轮播*/
.banner{ min-width:1000px;  position:relative;  height:400px; overflow:hidden;  }
.banner .bd{ position:relative; z-index:0;  }
.banner .bd ul{ width:100% !important; }
.banner .bd li{ width:100% !important;  height:400px; }
.banner .bd li .siteWidth{ width:1000px; position:relative;  margin:0 auto;  height:400px;  }
.banner .bd li a{ height:400px; display:block;  }
.banner .bd .txt{ position:absolute; width:415px; top:100px; left:22px;   font:normal 18px/30px "Microsoft YaHei";    }
.banner .bd .btn{ display:block; zoom:1; margin-top:8px;  width:72px; padding-right:10px;  height:31px; line-height:31px; text-align:center; color:#fff; font-size:12px; background:url(../img/banner-btn.png) 0 0 no-repeat;
_background:url(images/banner-btn-ie6.png) 0 0 no-repeat;
}
.banner .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
.banner .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url(../img/dot-black.png) 0 0; overflow:hidden; 
	line-height:9999px; filter:alpha(opacity=40);opacity:0.4; 
}
.banner .hd ul .on{ filter:alpha(opacity=100);opacity:1;}

.wrap{position:relative;padding:18px 0 0;width:1000px;margin:0 auto;}
.wrap .left{width:642px;float:left;}
.wrap h4{font-weight:700;color:#CE1B41;margin-bottom:10px !important;font-size:25px}
.wrap .left .meun{margin-bottom:18px;}
.wrap .left .meun li{border:1px solid #e9e7ea;box-shadow:0 0 3px #e0dfe0;margin-bottom:20px !important}
.wrap .left .meun1{margin-bottom:11px;position:relative;}
.wrap .left .meun1:hover{border:1px solid #CE1B41;}
.wrap .left .meun1 .s_pic{width:640px;height:180px;max-width:640px;max-height:180px;overflow:hidden}
.wrap .left .meun1 .font{width:28%;position:absolute;top:100px;left:10px;text-align:center;color:#666}
.wrap .left .meun1 .font .s_name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-bottom:15px;color:#0F1D4A;font-size:12px}
.wrap .left .meun1 .font .s_off{font-size:18px;font-weight:bolder;color:#CE1B41}
.wrap .right{width:330px;float:right;height:1000px;position:relative;}
.wrap .right .s_1{display:block;padding:15px 14px;margin-bottom:13px;border:1px solid #fff;box-shadow:0 0 3px #e0dfe0;background-color:#fcfafc}
.wrap .right .m_1{padding:22px 14px 0;margin-bottom:13px;position:relative;text-align:center;margin-top:13px;border:1px solid #fff;box-shadow:0 0 3px #e0dfe0;background:#fff}
.wrap .right .m_s_1{display:block;margin-bottom:20px !important}
.wrap .right .m_s_1 .sale-plan-big-list{border-bottom:1px dotted #dcdadd;}
.wrap .right .m_s_1 .sale-plan-big-list .spbl-item{margin-bottom:10px !important;position:relative;}
.wrap .right .m_s_1 .logo{display:block;padding:8px;margin:0 14px 20px;border-bottom:2px solid #CE1B41}
.wrap .right .m_s_1 .logos{margin-top:0;display:block}
.wrap .right .m_s_1 .logos .forecast-logo{float:left;position:relative;width:118px;height:38px;overflow:hidden;margin-left:15px;margin-top:10px}
.wrap .right .m_s_1 .logos .forecast-logo:hover{border:1px solid #CE1B41}
.wrap .right .m_s_1 .logos .forecast-logo img{width:118px;height:38px}

footer{display:block;clear:both;font:12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;overflow:hidden;line-height:22px;padding-top:0;border-top:1px solid #ebebeb;background-color:#fcfcfc;color:#4d4d4d;}
footer a{color:gray !important;}
.footer_inner{width:960px;margin:0 auto;overflow:hidden}
.footer_inner .footer_icon{overflow:hidden}
.footer_inner .footer_icon li{float:left;margin-bottom:10px !important}
.footer_inner .footer_icon i{display:block;margin-top:30px;margin-right:40px;margin-left:40px;width:80px;height:96px;font-size:0;text-indent:-100%;background:url(../img/footer_vip_iconsv_0704.png) no-repeat;}
.footer_inner .footer_icon .footer_icon_1{background-position:-10px -9px}
.footer_inner .footer_icon .footer_icon_2{background-position:-148px -9px}
.footer_inner .footer_icon .footer_icon_3{background-position:-443px -9px}
.footer_inner .footer_icon .footer_icon_4{background-position:-590px -9px}
.footer_inner .footer_icon .footer_icon_5{background-position:-738px -9px}
.footer_inner .footer_icon .footer_icon_6{background-position:-885px -9px}
.footer_inner .footer_list{overflow:hidden;zoom:1;margin:37px 0 25px !important;line-height:20px}
.footer_inner .footer_list dl{float:left;width:156px;height:146px;padding-left:45px;border-right:1px solid #e0e0e0}
.footer_inner .footer_list dt{margin-bottom:10px !important;color:#4d4d4d;}
.footer_inner .footer_list dd{margin-bottom:5px !important}
.footer_inner .footer_list .last{text-align:center;border:0 none;padding-left:0px}
.footer_inner .footer_infor{text-align:center}

/*分类页*/
.f-clearfix{clear:both;}
/*.cat-sec-fav{padding-bottom:20px}*/
.g-content{width:960px;margin:40px auto !important;font-family:Microsoft YaHei;}
.g-content .m-cat-oper{clear:both;position:relative;z-index:1;margin-bottom:70px}
.g-content .m-cat-oper .oper-more-cnt{overflow:hidden;width:100%;border:1px solid #e8e4e5;border-bottom:3px solid #f3f1f2;background-color:#fff}
.g-content .m-cat-oper .cat-oper-sec{position:relative;overflow:hidden;border-bottom:1px solid #e8e4e5}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-tit{float:left;min-width:64px;padding-left:20px;padding-right:8px;line-height:42px;font-size:14px;color:#666;}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt{float:left;width:90%;}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt .oper-sec-lit{overflow:hidden;padding:9px 0 8px}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt .oper-sec-lit .oper-lit-cnt{padding-bottom:10px;position:relative;overflow:hidden;}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt .oper-sec-lit .oper-lit-cnt a{position:relative;display:block;float:left;padding:0;width:120px;height:40px;border:1px solid #e8e4e5}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt .oper-sec-lit .oper-lit-cnt a:hover{border:1px solid #CE1B41}
.g-content .m-cat-oper .cat-oper-sec .oper-sec-cnt .oper-sec-lit .oper-lit-cnt .girl a{position:relative;display:block;float:left;padding:0;margin-left:10px;border:0 none;line-height:40px;text-align:center}

.m-cat-list{overflow:hidden;margin-top:30px;margin-right:-22px}
.m-cat-list .cat-list-item{float:left;width:222px;margin:0 22px 30px 0 !important}
.m-cat-list .cat-list-item .cat-item-pic{width:224px;height:283px;position:relative;border: 1px solid #E8E4E5;}
.m-cat-list .cat-list-item .cat-item-pic img{width:222px; height: 280px;}
.m-cat-list .cat-list-item .cat-item-inf{width:222px; height: 78px;margin-top:14px;line-height:22px}
.m-cat-list .cat-list-item .cat-item-inf span{font-weight:bold;color:#CE1B41;font-size:15px;}
.m-cat-list .cat-list-item .cat-item-inf em{font-weight:bold;color:#CE1B41;font-size:20px;}
.m-cat-list .cat-list-item .cat-item-inf del{font-size:14px;color:#c3c3c3;}
.m-cat-list .cat-list-item .cat-item-inf p{overflow:hidden;/*height:43px;*/text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}

/*商品详情*/
a:link, a:visited{ color:#333333; text-decoration:none; }
a:hover{ color:#CC0000; text-decoration:underline; }
a:active{ color:#990000; }
ol, ul{ list-style: none outside none;}
.m { margin-bottom: 10px; }
.m, .mt, .mc, .mb{ overflow: hidden; }

/* Clear Fix */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix{display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */ 
/*页面全局结束*/
/*.tab{ overflow:hidden; }
.tab li,.tab a,.tab-item{cursor:pointer;float:left;text-align: center;}
.m, .mt, .mc, .mb{overflow:hidden;}
.mt .extra{float: right;}

.right-extra .mt{height:28px;line-height:28px;padding:0 10px 8px;border-top:1px solid #EED97C;background:url(../images/bg_hotsale.gif) repeat-x 0 -552px;color:#c00;}
.right-extra .tab{border-bottom:2px solid #BE0000;margin-bottom:10px;}
.right-extra .tab li{position:relative;height:24px;padding:3px 12px 0;background:url(../images/icon_clubs.gif) #ccc no-repeat right -150px;overflow:hidden;margin-right:3px;line-height:24px;font-size:14px;font-weight:bold;color:#c30;}
.right-extra .tab span{position:absolute;left:0;top:0;z-index:1;width:10px;height:27px;background:url(../images/icon_clubs.gif) no-repeat 0 -150px;}
.right-extra .tab a{float:none;color:#c30;}
.right-extra .tab .curr{background-position:right -178px;color:#fff;}
.right-extra .tab .curr span{background-position:0 -178px;}
.right-extra .tab .curr a{color:#fff;}
.right-extra .mc .extra{padding:5px 10px;border-top:1px solid #F3E6C6;}
.right-extra .total{float:right;}
.right-extra .total strong{color:#FF7403;}
.right-extra .total a:link,.right-extra .total a:visited{color:#005aa0;}
.right-extra .join a:link,.right-extra .join a:visited{color:#FF7604;}
.right-extra .norecode{padding:0 10px 10px;}
.right-extra .iloading{margin-bottom:10px;}*/
/*评论列表*/
/*#comment .item{border:1px solid #FFFFFF;padding:8px 15px;}
#comment .odd{background: none repeat scroll 0 0 #F4F9FF;border: 1px solid #EDF0F1;border-radius:10px 10px 10px 10px;}
#comment .user{color:#999999;text-align: right;}
#comment .user span{margin-left: 20px;}
#comment .user .u-level{color:#088100;}
#comment dl{margin-bottom:5px;overflow:hidden;}
#comment dt{float:left;text-align:right;width:80px;}
#comment dd{float:right;overflow:hidden;width:649px;}
#comment .content{float:left;width:510px;}
#comment .date-answer{color:#999999;float:right;text-align:right;width:130px;}
#comment .useful{color:#999999;text-align:right;}
#comment .useful a{color: #005AA0;}
#comment dt b{background-image: url("../images/icon_clubs.gif");background-repeat: no-repeat;float:left;height:13px;margin:2px 3px 0 0;width:14px;}
#comment .ask b{background-position:-72px -14px;}
#comment .answer{color:#D75509;}
#comment .answer b{background-position:-57px -14px;}*/

/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:385px;height:485px;border:1px solid #DFDFDF;}
.spec-scroll{clear:both;margin-top:5px;width:352px;}
.spec-scroll .prev{float:left;margin-right:4px;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{display:block;font-family:"微软雅黑",Arial, Helvetica, sans-serif;text-align:center;width:10px;height:54px; line-height:54px;border:1px solid #CCC;background:#EBEBEB;cursor:pointer;text-decoration:none;}
.spec-scroll .items{float:left;position:relative;width:322px;height:56px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:64px;text-align:center;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:50px;height:50px;}
.spec-scroll .items ul li img:hover{border:2px solid #FF6600;padding:1px;}
/*商品价格*/
.M-productInfo{width:563px;padding-left:50px;position:absolute;top:215px;right:200px;}
.M-productInfo .pi-title-box .pib-title{;width:390px;color:#4d4d4d;padding-bottom:3px;border-bottom:1px dotted #b3b3b3;}
.pi-title-box .pib-title .pib-title-class{width:340px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;color:#777578;line-height:22px}
.pi-title-box .pib-title .pib-title-detail{font-size:15px;color:#4e4e4e;font-weight:700;max-height:40px;overflow:hidden;line-height:20px}
.pi-price-box{padding:23px 0 13px;position:relative;}
.pi-price-box .pbox-price{display:inline-block;font-size:30px;color:#f0204c}
.pi-price-box .pbox-price .pbox-yen{font-size:20px}
.pi-price-box .pbox-off{position:relative;top:-3px;font-size:12px;color:#fff;background-color:grey;border-radius:3px;padding:0 5px;margin:0 7px 0 3px}
.pi-price-box .pbox-market{padding:0 20px 0 10px;color:grey}

.tab{ line-height:56px; font-size:14px;}
.tab a{ color:#07c;}
.tab a:hover{ color:#c00;}
.tab a.cur{ font-weight:bold;}


/*商品详细页*/
/*iteminfo*/
.iteminfo{}
.iteminfo_tit{ color:#333; font-size:22px; font-family:"微软雅黑",Arial, Helvetica, sans-serif; border-bottom:1px solid #e3e3e3; font-weight:normal; padding-bottom:12px; line-height:32px;}
.iteminfo_parameter{ padding:8px 0; padding-left:40px;}
.iteminfo_parameter_default{ color:#888;}
.iteminfo_parameter dt{ margin-left:-40px; float:left; display:inline;white-space:nowrap; text-align:right; color:#888;}

.iteminfo_mktprice{ font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:line-through;}
.lh32{ line-height:32px;}
.iteminfo_price{ color:#c00; font-size:14px; font-family:Arial, Helvetica, sans-serif; vertical-align:middle;}
.sys_item_price{ color:#c00; font-size:22px; vertical-align:middle;}
/*.iteminfo_buying{ background:#f7f7f7; padding:12px 0;}*/

/*规格*/
.sys_item_spec dl.iteminfo_parameter{ padding-top:10px; padding-bottom:0px;}
.sys_item_spec dl.iteminfo_parameter dt{ line-height:32px;}
.sys_item_spec dd{margin-top:5px;margin-left:20px !important}

/*评论*/
.rateNav {overflow: hidden;background-color: #F8F8F8;padding: 0;border: 1px solid #EAEAEA;margin-bottom: 0;color: #666}
.rateNav li {margin: 0;height: 18px;float: left;padding: 14px 0 0 25px;text-align: center;overflow: hidden;cursor: pointer;}
.rateNav li .wrapnRadio{vertical-align: -2px;margin-right: 5px;}
.rateNav li label{cursor: pointer;display: inline-block;}
.rateNav .active {color: #D31B44;font-weight: bold;}
.rateNav .last {text-align: right;float: right;background: none;}
.rateNav .last a {padding: 0 20px 0 17px;display: block;color: #666;}
.rateNav .last a:hover {text-decoration: none;color: #666}
.rateNav .last a.checked {background-position: -35px -54px;}
.rateNav .last input {vertical-align: text-bottom;margin-top: 10px;}
.rateNav .last label {margin-top: 10px;}
.rateNav .last a.active {background-position: -35px -54px;}
.commWrap {zoom: 1;border: #e8e8e8 solid 1px;border-bottom:none; border-top:none;}
.commWrap .eachInfo {border-bottom: 1px solid #E8E8E8;padding: 14px 30px 7px 30px;overflow: hidden;zoom: 1;}
.eachInfo dd {float: left;}
.eachInfo .comm-left-icon{display: inline-block;width: 48px;float: left;margin-top: 20px;padding: 0 30px 15px 0;font-family: "iconfont";}
.commWrap .eachInfo dt {border-bottom: 1px dashed #EAEAEA;line-height: 30px;height: 30px;font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,\5b8b\4f53}
.commWrap .eachInfo dd {margin-top: 5px;width: 690px;word-break: break-all;word-wrap: break-word;position: relative;z-index: 0;}
.commWrap .eachInfo .superFlag {position: absolute;right: 10px;top: -23;z-indexwidth: 48px;height: 48px}
.comm-left-icon .comm-good{width: 48px;height: 48px;font-size: 52px;margin-left: -2px;line-height: 52px;color: #D80D3C;}
.comm-left-icon .emptyStar,.comm-left-icon .fullStar{display: inline-block;height: 18px;letter-spacing: 1px;white-space: nowrap;line-height: 18px;color: #D61640;}
.comm-left-icon .emptyStar{position: relative;font-size: 9px;}
.comm-left-icon .fullStar{position: absolute;top: 0;left: 0;overflow: hidden;}
.commItem li { margin-bottom: 10px;line-height: 22px;padding-right: 110px;}
.commItem .starLi {line-height: 18px;color: #b5b5b5;}
.commItem .timeLi {color: #b5b5b5;}
.commItem .starLi em {display: inline-block;width: 438px;text-align: right;}
.commItem .replyLi {margin-top: 12px;border-top: #dbdbdb dashed 1px;padding-top: 12px;}
.itemTit {float: left;}
.itemDetail {overflow: hidden;display: block;zoom: 1}
.commItem .c_666 .itemDetail, .commItem .c_666 .itemTit {color: #333;}
.commItem .c_3b6ba0 .itemDetail, .commItem .c_3b6ba0 .itemTit {color: #333;}
div.pic_list a.pic_item{ width: 50px;height: 50px;display: block;float: left;cursor: pointer;margin-right: 10px;overflow: hidden;margin-top: 6px;text-align: center;}
.pic_item img{vertical-align:middle;width:50px;height:50px}
.splitPages{padding: 20px 0; color:#333; text-align:center; overflow:hidden; *overflow:visible; _overflow:hidden; clear:both; padding-bottom:30px; width: 100%;margin: 0 auto;}
.splitPages a,.splitPages span,.splitPages em{width:28px; height:28px; text-align:center;line-height:28px;color:#333; vertical-align:middle}
.splitPages a,.splitPages span{ display:inline-block;}
.splitPages .prevPage{margin-right: 5px;}
.splitPages .nextPage{margin-left: 5px;}
.splitPages a:visited,.splitPages a:hover{color:#333;}
.splitPages a:hover{color: #D22147;border-color: #D22147; position: relative; z-index: 1; text-decoration: none;}
.splitPages span{ color:#FFF; background-color:#D22147; border-color:#D22147;position: relative; z-index: 2; }
.splitPages em{ border:none; font-weight:bold; display: inline-block; vertical-align: middle;}
.splitPages .prevPage,.splitPages .nextPage{ background-color:#fff; width:58px; position:relative; /*padding-left:10px;text-align:left;*/}
.splitPages .nextPage{margin-right:15px;}
.splitPages span.prevPage,.splitPages span.nextPage{ border-color:#e8e8e8; color:#bababa;}
.splitPages .jumptoTip{ border-color:#fff; background-color:#fff; color:#333; margin-right: 5px;width: auto;}
.splitPages .jumptoTxt{ width:35px; height:26px; text-align:center; line-height:26px; border:1px solid #e3e3e3; outline:none;}
.splitPages .jumptoTxt:focus{ border-color:#c2c2c2;}
.splitPages .jumptoBtn{ color:#333; display:inline-block; text-align:center; width:45px; height:30px; line-height:30px; border-color:#e8e8e8;margin-right: 0;  border: 1px solid #E3E3E3;}
.splitPages .jumptoBtn:link,.jumptoBtn:visited,.jumptoBtn:hover{ text-decoration:none; }
.splitPages .jumptoBtn:hover{color: #D22147; border-color:#D22147;}
.splitPages li{float: left;}
.splitPages li.active{background-color: #D22147;border-color: #D22147;position: relative;z-index: 2;}
.splitPages li.active a{color: #FFF !important;}
.splitPages li:first-child{width: 55px;}
.splitPages li:last-child{width: 55px;}
.splitPages li:first-child a{width: 100%;}
.splitPages li:last-child a{width: 100%;}
.splitPages ul{float: left;/*border: 1px solid #E3E3E3;*/}
.splitPages ul li{height: auto;border-width: 1px;border-style: solid;border-color: #E3E3E3;margin-left: 2px;}
.splitPages ul li:hover{border:1px solid;color: #D22147; border-color:#D22147;}
.jumptopage{float: left;margin-left: 10px;}
.orderPages{ text-align:center; padding-bottom:0;}
.orderPages .nextPage{margin-right:0;}
.orderPages .jumptoTip,.orderPages .jumpto,.orderPages .jumptoBtn,.orderPages .jumptoTxt{ display:none;}
.adPages{ padding:10px; background:#f5f5f5; border:1px solid #e8e8e8; border-top-width:0px;}
.adPages a{background:#fff;}

/*一下正对图片*/
.sys_spec_img{}
.sys_spec_img li{ float:left; height:54px; position:relative; margin:2px 6px 2px 0;}
.sys_spec_img li a{height:50px; width:50px; padding:1px; border:1px solid #ccc; float:left; background:#fff; display:inline-block; outline:none;}
.sys_spec_img li a img{ width:50px; height:50px; display:block;}
.sys_spec_img li a:hover{ border:2px solid #e4393c; padding:0; text-decoration:none;}
.sys_spec_img li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.sys_spec_img li.selected a{ border:2px solid #e4393c; padding:0;}
.sys_spec_img li.selected i{ display:block;}

.sys_spec_text{}
.sys_spec_text li{ float:left;position:relative; margin:5px 6px 2px 0; outline:none;font-size:12px}
.sys_spec_text li a{ height:35px; padding:1px 10px; border:2px solid #ccc; background:#fff; display:inline-block; line-height:35px;}
.sys_spec_text li a:hover{ border:2px solid #e4393c; padding:1px 10px; text-decoration:none;}
.sys_spec_text li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.sys_spec_text li.selected a{ border:2px solid #e4393c; padding:1px 10px;}
.sys_spec_text li.selected i{ display:block;}
.sys_item_spec dt{font-size:14px;color:grey;text-align:left;}

.spinner-sprite, .spinner .decrease, .spinner .decrease[disabled], .spinner .increase, .spinner .value, .spinner .value.passive {background: url('../img/spinner.png') no-repeat}
.spinner {height: 25px;width: 71px;overflow: hidden;zoom:1;-webkit-box-shadow: 0 3px 3px -4px #aaa;-moz-box-shadow: 0 3px 3px -4px #aaa;box-shadow: 0 3px 3px -4px #aaa}
.spinner button, .spinner .value {text-align: center;display: block;float: left;height: 100%;line-height: 25px;margin: 0}
.spinner button {border: none;width: 23px;color: #e5312a;font: 22px Arial bold;padding: 0;outline: none}
.spinner .decrease {background-position: 0 -50px;cursor: pointer;text-indent: -10000px}
.spinner .decrease[disabled] {background-position: 0 -75px;cursor: default}
.spinner .increase {background-position: 0 0;cursor: pointer;text-indent: -10000px}
.spinner .value {background-position: 0 -25px;width: 24px;height: 27px;border: none;font-family: Arial;color:  #919191;padding: 0px}
.spinner .value.passive {background-position: 0 -25px;color: #919191}
.spinner .error, .spinner .invalid {background: #aa0000}

.i_button{min-height:35px; margin-top: 12px !important;}
.i_button .button-box{float:left;width:200px;height:46px;margin-right:20px;position:relative;}
.i_button .button-box .ui-btn-large{width:198px;padding:0;overflow:hidden;height:46px;color:#fff;background-color:#CE1B41;border:1px solid #CE1B41;border-radius:5px}
.i_button .button-box .ui-btn-larges{width:156px;padding:0;overflow:hidden;height:46px;color:#D41C44;border:2px solid #D41C44;background-color:#FFECED;line-height:46px;border-radius:5px;font-size:17px}
.i_button .button-box .active{border: 2px solid #DFDFDF;background-color: #FFFFFF; color: #CCCCCC;}
.i_button .button-box .ui-btn-large:hover{background:#de1e46;border:1px solid #de1e46}
.i_button .button-box .ui-btn-larges:hover{background-color:#fff;}
.i_button .button-box .ui-btn-large .ui-btn-loading-before{display:inline-block;font-size:18px;line-height:35px}
.i_button .button-box .ui-btn-large .ui-btn-loading-before.shopping-bag{margin-right:6px;}
.i_button .button-box .active{border: 1px solid #CCCCCC;  background-color: #CCCCCC;color: #FFF;}
.i_button .button-box .active:hover{border: 1px solid #CCCCCC;  background-color: #CCCCCC;color: #FFF;}
.rateNav .poster_head_text {height:35px;font-size: 14px;font-weight: 700;line-height: 59px;margin-left: 15px;width: 100%;}
.rateNav .old_style_wrapper{margin: 13px;width: 600px;}
.rateNav .rate-textarea{width: 100%;border: 1px solid #B3B3B3;}
.rateNav_bottom{padding-bottom: 13px;}
.rateNav_bottom .poster_head_text .fl ul li{height: 50px; overflow: hidden;}
.poster_head_text span{float: left;}
.poster_head_text .label{color: #666;line-height: 59px;float: left;  line-height: 54px;  margin-left: 10px;}
.poster_head_text .fl li{line-height: 28px;}
.ui_btn_m{display: inline-block;padding: 0 15px;height: 28px;line-height: 28px;overflow: hidden;font-size: 14px;text-align: center; margin: 13px}
.ui_btn {color: #fff;background: #398bfc;border-bottom-color: #3782f0;}
.ui_btn, .ui_btn_disable {display: inline-block;border-radius: 2px;border: 1px solid transparent;}
.j_floating a{color: #FFF !important;text-decoration: none;}

#title{width:300px;margin:3% auto 0;}
#title h2{font-size:18px;}
#wrapper{width:980px;margin:0 auto;background:#f8f8f8;border:1px solid #a3a3a3;padding:20px 20px 50px;border-radius:5px;-moz-border-radius:5px;}
h3{color:#333;font-size:14px;text-align:center;margin:20px 0;}
/* box */
.box{width:1000px;margin:100px auto 0;background:#FCFAFD;}
.tab_menu{overflow:hidden;border-top:2px solid #d0cfd1;background-color:#eae8eb}
.tab_menu li{width:100px;float:left;height:30px;line-height:30px;color:#333;background:#eae8eb;text-align:center;cursor:pointer;border-right:1px solid #fff}
.tab_menu li.current{color:#CE1B41;background:#f3f1f4;border-top:2px solid #CE1B41;}
.tab_menu li a{color:#fff;text-decoration:none;}
.tab_menu li.current a{color:#333;}
.tab_box{padding:20px;}
.tab_box li{line-height:24px;overflow:hidden;}
.tab_box li span{margin:0 5px 0 0;font-size:12px;font-weight:400;color:#ddd;}
.tab_box .hide{display:none;}
.tab_box #discussShowWay li{height: 50px;}

.M-detailCon{padding-top:30px;font-size:14px}
.dc-tit-new{padding-left:65px;font-weight:700;text-align:left;clear:both;height:34px;background:url(../img/detail_pro_num.png) no-repeat;}
.dc-tit-1{background-position:0 0;}
.dc-tit-2{background-position:0 -50px;}
.dc-title{border-bottom:2px solid #e3e2e2;line-height:30px;font-size:20px;color:#CE1B41;}
.M-detailCon .dc-size{padding:20px 0 40px 0;color:#666;overflow:hidden;}
.M-detailCon .dc-size .dc-size-tip{font-size:14px;line-height:1.8;margin-bottom:20px !important}
.M-detailCon .dc-size .dc-size-tip dt{font-weight:700;color:#333;}
.M-detailCon .dc-size .pro-size-table{width:80%;text-align:center}
.M-detailCon .dc-info{padding:20px 0 40px 0}
.M-detailCon .dc-info .dc-table-tit{color:#333;width:90px;font-weight:700;white-space:nowrap;}
.dc-table td{padding:5px 0;}

.dc-tit-3{background-position:0 -100px;}
.dc-img{width:1000px;overflow:hidden;padding:20px 0}
.dc-img .dc-img-con{width:1020px;text-align:center;}
.dc-img .dc-img-con img{margin:5px 9px 9px 0 !important;}
.dc-img .dc-img-detail{text-align:center;padding-top:10px}


/*购物车*/
table{border-collapse:collapse;border-spacing:0;border:0;}
body{color:#666;font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
.fl{float:left;}
.fr{float:right;}
.catbox{width:1000px;margin:30px auto !important;}
.catbox table{text-align:center !important;width:100%;}
.catbox table th,.catbox table td{border:1px solid #e2e2e2;/*display:inline-block;*/text-align:center !important}
.catbox table th{color:#fff;background:#CE1B41;border-top:3px solid #89142d;height:30px;}
.catbox table td{padding:10px;color:#444;}
.catbox table tbody tr:hover{background:rgba(226,226,226,0.3);}
.checkbox{width:60px;}#e2e2e2
.goods{width:340px;}
.goods span{width:180px;margin-top:20px;text-align:left;float:left;}
.goods img{width:100px;height:120px;margin-right:10px;float:left;}
.price{width:130px;}
.count{width:110px;}
.count .add, .count input, .count .reduce{float:left;margin-right:-1px;position:relative;z-index:0;}
.count .add, .count .reduce{height:27px;width:20px;border:1px solid #e5e5e5;background:#f0f0f0;text-align:center;line-height:23px;color:#444;}
.count .add:hover, .count .reduce:hover{color:#f50;z-index:3;border-color:#f60;cursor:pointer;}
.count input{width:50px;/*height:15px;*/line-height:15px;border:1px solid #aaa;color:#343434;text-align:center;padding:4px 0;background-color:#fff;z-index:2;}
.subtotal{width:150px;color:red;font-weight:bold;}
.operation span:hover,a:hover{cursor:pointer;color:red;text-decoration:underline;}

.foot{margin-top:10px;color:#666;height:48px;border:1px solid #c8c8c8;background-color:#eaeaea;background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));position:relative;z-index:8;}
.foot div, .foot a{line-height:48px;height:48px;}
.foot .select-all{width:100px;height:48px;line-height:48px;padding-left:5px;color:#666;}
.foot .closing{border-left:1px solid #c8c8c8;width:100px;text-align:center;color:#fff;font-weight:bold;background:#CE1B41;cursor:pointer;}
.foot .total{margin:0 20px;cursor:pointer;}
.foot  #priceTotal, .foot #selectedTotal{color:red;font-family:"Microsoft Yahei";font-weight:bold;}
.foot .selected{cursor:pointer;}
.foot .selected .arrow{position:relative;top:-3px;margin-left:3px;}
.foot .selected .down{position:relative;top:3px;display:none;}
.show .selected .down{display:inline;}
.show .selected .up{display:none;}
.foot .selected:hover .arrow{color:red;}
.foot .selected-view{border:1px solid #c8c8c8;position:absolute;height:auto;background:#ffffff;z-index:9;bottom:48px;left:-1px;display:none;}
.show .selected-view{display:block;}
.foot .selected-view div{height:auto;}
.foot .selected-view .arrow{font-size:16px;line-height:100%;color:#c8c8c8;position:absolute;right:330px;bottom:-9px;}
.foot .selected-view .arrow span{color:#ffffff;position:absolute;left:0px;bottom:1px;}

#selectedViewList{padding:10px 20px 10px 20px;}
#selectedViewList div{display:inline-block;position:relative;width:100px;height:120px;border:1px solid #ccc;margin:10px;float:left;}
#selectedViewList div img{width:98px;height:115px;margin-right:10px;float:left;}
#selectedViewList div span{display:none;color:#ffffff;font-size:12px;position:absolute;top:0px;right:0px;width:60px;height:18px;line-height:18px;text-align:center;background:#000;cursor:pointer;}
#selectedViewList div:hover span{display:block;}

/*购物车头部修改*/
.m-step{position:absolute;right:45px;top:40px;font-size:14px}
.m-step .bg{position:absolute;right:170px;top:0;width:290px;height:20px;background:url(../img/steps_d8f3a46.png) no-repeat;}
.m-step ul{float:right;padding:20px 130px 0 !important}
.m-step .active{ color:#d22147 !important}
.m-step .step{float:left;text-align:center;color:#ddd;}
.m-step .step-1{width:70px;}
.m-step .step-2{width:60px;margin-left:72px}
.m-step .step-3{width:86px;margin-left:66px}
.m-step-1 .bg{background-position:0 -34px;}
.m-step-2 .bg{background-position:0 -65px;}

/*订单详情*/
.dingdanhaoma{margin-left:190px;margin-top:20px;font-size: 25px}
.zitidaxiao{font-size: 25px;margin-top:20px}
.zitidaxiao2{font-size: 30px;color:#900}
/*尚未支付*/
.beijing{background-color:#56c018!important;border:0px!important;margin-right:60px!important}
.beijing2{background-color:#ccc!important;border:0px!important;margin-right:60px!important}
.beijing3{background-color:#FF7C00}

/*我的订单*/
#order th{text-align:center}
.dingdan{width:80%;margin-left:100px;margin-top:20px}
#headingOne{background-color:#AA0003;border-color:#41A4F1;color:#fff!important }
.biaoge{padding-top:0px !important;padding-left:0px !important;padding-right:0px !important}
.dingdan2{width:71%;margin-left:20px}
.kuan{width:35%;}
.xia{margin-left:20px}
.and{font-size: 30px;width:70%;margin-bottom:10px}
li{list-style:none}
.aligns{text-align: left;}
.personals{width:70%;margin-top:20px;border-left: 1px solid #ccc;border-right:1px solid #ccc;border-bottom:3px solid #ccc}
.form-group{margin-bottom:15px !important}

/*购物车（空）*/
.productEmpty {position: relative;font-size: 16px;height: 218px;background: url(../img/cartIcon_17d63c2.jpg) 500px 91px no-repeat;}
.productEmptyCon {position: absolute;left:560px;top: 90px;}
.productEmptyCon a{color:#CE1B41 !important};