*,h1,h2,h3,h4,h5,h6,legend{font-family:"Microsoft Yahei UI","Microsoft YaHei",Helvetica,Arial,"\5B8B\4F53",simsun,sans-serif}
h1{font-size:2em;margin-top:-.6em;padding-bottom:.3em}
.copyright{margin:20px auto;text-align:center;font-size:.8em;color:#aaa}
.logo{margin:-.4em .6em -.4em -.2em;width:1.8em;height:1.8em}
.product-title{width:100%;height:2em;line-height:2em;font-size:.8em;text-align:center;overflow:hidden;text-overflow:ellipsis}
.path-menu{position:fixed;left:1.4em;bottom:4em;z-index:99}
.path-main,.path-child{color:#fff;text-align:center;background:#f00;border-radius:3em;border:2px solid #fff;box-shadow:1px 1px 6px #666;cursor:pointer}
.path-main{width:2.2em;height:2.2em;font-size:1.2em;line-height:2.1em}
.path-child{width:2.2em;height:2.2em;font-size:1.2em;line-height:2.1em}
.dl-size{width:98%;overflow-x:auto}
dt{margin-top:10px}
dd > .label{margin:6px !important}
.old-price{color:#888}
.price{font-weight:bold;color:#f00;font-size:}
.buy-btns{position:fixed !important;bottom:1em;left:1em;box-shadow:0 0 1em #ccc;z-index:98}
.btn-tag{color:#6fb3e7;background:#fff;border:1px solid #6fb3e7;margin:.3em;word-wrap:break-word !important;word-break:break-all !important}
.btn-tag:active,.btn-tag.active{color:#fff !important;background:#6fb3e7 !important}
h4.features{margin-left:.4em}
div.features{height:8.4em;overflow-x:auto;overflow-y:hidden}
div.features ul{display:inline-flex;height:8em}
div.features ul li{height:8em;width:8em;margin-left:.2em}
input.input-count{width:3em}

/** scrollbar **/
::-webkit-scrollbar {
    background: transparent;
    border: rgba(0, 0, 0, 0.2) solid;
}
::-webkit-scrollbar:vertical {
    border-width: 0 0 0 1px;
    width: 8px;
    background: #F1F1F1;
}
::-webkit-scrollbar:horizontal {
    border-width: 0 0 0 1px;
    height: 8px;
    background: #F1F1F1;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* These rules are for scrollbar draggable panel */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* These rules are for buttons */
::-webkit-scrollbar-button:start{display:none}
::-webkit-scrollbar-button:end{display:none}

::-webkit-scrollbar-button:vertical:increment {
    height:15px;
}
::-webkit-scrollbar-button:vertical:decrement {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 16px;
}

/** end scrollbar **/
.ban{
    width: 100%
}
.table{
    margin-bottom: 0
}
.input-group{
    margin: 15px auto
}
.halfwid{
    width: 50%;
    display: inline-block;
    padding:8px;
    font-size: 14px;
}
.mar-bot{
    margin-bottom: 0!important;
}
.fix{
    width: 100%;
    position: fixed;
    border:1px solid #e5e5e5;
    bottom: 0;
    text-align: center;
    height: 38px;
    font-size: 14px;
    font-family: "微软雅黑";
    background:white;
    z-index: 999

}
.jieshao{
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    margin: 15px auto

}
.width{
    width: 100%
}
.text-chanpin{
    font-size: 16px;
    text-align: center;

}
.form-control{
    height: 34px!important
}
.fanhui{
    width: 17px;
    margin-left: 7px;
    margin-top: 2px
}
.lls{
    padding: 10px
}
.marbtm{
    margin-bottom: 0;
    line-height:24px
}
.colo-text{
    color: #8d8d8d
}
.price2{
    color: #BBB634;
    font-weight: bold;
}
table.table tbody tr td{
    width: 50%
}
.pad-liuyan{
    padding: 8px
}
.liuyan{
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    margin: 10px auto;
    overflow: hidden;
}
.liuyan2{
    padding: 10px
}
.fix-bot{
   width: 100%;
   border-radius: 0!important
}
.modal-body{
    padding: 10px!important
}
.inline{
    display: inline-block;
}
.wid{
    width: 100%
}
.c1{
    background:#47aa42;
    color: white;
    border-top:1px solid #349c2f
}
.c2{
    border-top: 1px solid #cfcfcf;
    background: rgb(228,228,228);
     color: rgb(88,88,88);
}
.text-right{
    margin-top: 15px
}