.pang{
 padding: 0
}
.logo{
	/*padding: 10px;*/
	/*width: 120px;
	float: left;*/
}
.pa{
	padding: 10px;
	float: left;
}
.heading{
	width: 100%;
	list-style: none;
	padding: 0!important;
	margin: 0!important;
}
.tr td{
	float: left;
}
.chang{
	width: 100%;
	margin:7px auto;
}
.tabl{
	border-bottom: 1px solid #dfdfdf;
	box-shadow:1px 1px 7px rgb(209,209,209);
	width:100%;
}
.dot{content:""!important}
.dot.active{border-radius: 6px;
						overflow: hidden;}
.chang{
	width: 95%;
	height: 20px!important;
}
.copyright{
	margin-top: 15px;
	text-align: center;
	margin-bottom: 50px;
	font-size: .8em
}
.wid{
	width: 100%;
	margin: 15px auto;
	margin-bottom: 35px
}
.yuan{
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background: #f06200;
	margin: auto;
	display: block;
	text-decoration: none!important;
}
.wa{
	width:30px;
	margin-top: 7px;
	margin-left: 8px;
}
.ps{
	margin-left:8px;
	color: #646363;
	margin-top: 13px
}
p,div,span,h2,h3,h4,h5,h6,a{
	font-family: "微软雅黑"
}
.left{
	width: 55%;
	float: left;	border-right: 1px solid #e5e5e5;
}
.right{
	width: 45%;
	float: left;
}
.s1{
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 0;
	margin: 0
}
.botto{
	padding: 5px;
	margin-bottom: 0;
	text-align: center;
}
.boe{
	width: 97%;
	padding: 10px;
	padding-top: 0px;
}
.boe2{
	width:95%;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 7px
}
.theme-pavilion{
	padding: 10px;
}
.half-img{
	border:1px solid #e5e5e5;
	margin-bottom: 5px;
	width: 49.255%
}
.fix{
	width: 100%;
	position: fixed;
	border:1px solid #e5e5e5;
	bottom: 0;
	text-align: center;
	height: 38px;
	font-size: 14px;
	font-family: "微软雅黑";
	background:white;

}
.xia{
	width: 95%;
	margin-left: auto;
	margin-right: auto
}
.ms{
	width: 100%;
}
.fanhui{
    width: 17px;
    margin-left: 7px;
    margin-top: 2px
}
.tiao{
	width: 100%;
	background:rgba(0,0,0,.6);
	position: absolute;
	margin-top: -30px;
	color: white;
	padding: 5px;
	padding-left: 10px;
	font-size: 14px;
	z-index: 99999;
}
.wid-max{
	width: 100%;
	margin: 8px auto

}
.border-a{
	border-top: 1px solid #e5e5e5;
	display: block;
}
.mar-footder{
	margin-top: 10px;
	padding: 5px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 15px
}
div.mar-footder a{
	color: black!important;
	padding: 5px;
	text-decoration: none!important;
}
.pull-right{
	line-height: 11px

}
.beside{
	margin: 10px auto!important;
	margin-bottom: 45px!important
}
.ui-slider-dots{
	z-index: 999!important
}
.wid-90{
	width: 90%;
	margin: auto
}
.ism{
        display: block;
        width: 100%;
        padding:15px 0;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(199,199,199)

}
.mmd{
        margin-left: 12px;
        color: black;
        display: inline-block;
        margin-bottom: 0px!important;
        font-size:15px;
        font-family: "微软雅黑"
}
.kuang{
        margin-top: 10px;
        border-radius: 5px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background: white;
        border:1px solid rgb(199,199,199);
}
.margin-right-12{
        margin-right: 12px;
}
.s0{
    width:20px;margin-left:15px;margin-top:-5px
}
.wid-100{
	width: 100%
}
.wid-80{
	width: 80%
}
.display-block{
	display: block;
}
.margin-auto{
	margin: auto
}
.margin-bottom-20{
	margin-bottom: 20px
}
.tuiguang-h3{
	background: darkcyan;
	color: white;
	padding: 10px;
	margin-top: 0!important;
	box-shadow: 1px 1px 6px rgb(172, 172, 172)
}
.only-img{
	margin-top:12px;margin-left:8px;width:29px
}
.only-img2{
	width:27px;margin-top:9px;margin-left:10px
}
.only-img3{
	margin-top:8px;margin-left:9px
}
.index-div-css{
	display:inline-block;margin-bottom:0;padding-right:3px;border-bottom:1px solid #e5e5e5
}
.index-div-css2{
	display:inline-block;margin-bottom:0;padding-right:3px
}
.margin-left-9{
	margin-left: 9px
}
.index-p-css{
	margin-left:3px;width:43px
}
.index-daojishi{
	border-right:1px solid #e5e5e5
}
.index-img-border{
	border-bottom:1px solid #e5e5e5
}
.zhuce-table tbody tr td{
	vertical-align: middle!important;
	text-align: right;
}
.border-radius-0{
	border-radius: 0!important
}
.wodexiaoxi-small{
	background:#1F71A8;
	padding:5px 10px;
	display: block!important;
	color: white
}
.padding-10{
	padding:10px 0;
}
.wodexiaoxi-img{
	width: 64px;
	height: 64px;
	margin:0 10px;
}
.media-div{
	padding: 15px 10px;
	margin-top: 0!important;
	position: relative;
}
.color-font{
	color: #333!important
}
.glyphicon-wodexiaoxi{
	color: white
}
.div-none{
	width: 100%;
	height: 70px
}
.wodexiaoxi-first-div{
	border: 1px solid rgb(211, 211, 211);
	margin-bottom: 15px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgb(230,230,230);
}
.margin-left-5{
	margin-left: 5px
}
.margin-top-10{
	margin-top: 10px
}
.background-div-gouwujuanguanli{
	background: #23C03C!important
}
.background-div-gouwujuanguanli-disabled{
	background:#C02323!important
}
.badge-class{
	margin-right: 13px;
	background: red;
	margin-top: 1px
}
.dianzixianjin-money{
	float: right;
	margin-right: 13px;
	color: black;
	margin-top: 1px;
}
.dingdanhao-class{
	display: block;
	margin-bottom: 5px;
	text-align: center;
}
.border-radius-0{
   border-radius: 0!important
}
.wodexiaoxi-button{
	padding: 3px 15px;
	float: right;
	margin-top: -6px;
	margin-right: -10px;
}
.div-none-btn-a{
	height: 28px;
	width: 100%
}
.inline-block-p div >p{
	display: inline-block;
}
.pull-right{
	line-height:normal;
}
.btn-absolute-double{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	border-radius: 0!important
}
.btn-absolute-right-0{
	right: 0!important;
	left: inherit
}
.margin-left-3{
	margin-left: 3px
}
.background-eee{
	background: #eee!important
}
.glyphicon-plus-button{
	display: block;
	margin: auto;
	font-size: 30px;
	color: rgb(60,60,60);
}
.add-place-p{
	font-size: 16px;
	color: rgb(60,60,60);
	margin-top: 5px;
	margin-bottom: 0!important
}
.padding-25-10{
	padding: 25px 10px!important
}
.border-gouwujuanguanli{
	border: 1px solid #eee;
	border-radius: 6px
}
.display-inline-block{
	display: inline-block;
}
.div-gouwujuanguanli-class{
	border: 1px solid #DDD;
	margin-bottom: 10px;
	border-radius: 4px;
	overflow: hidden;
	padding: 10px;
	padding-bottom: 0;
}
.a-chongzhi{
	float: right;
	margin-top: -10px;
	border-radius: 0;
	margin-right: -11px;
	padding: 10px 20px;
}

/*文章样式*/
body.article{background:#fffeee}
article.article{width:100%;display:block;margin:10px auto}
article.article p{width:90%;margin:10px auto;font-size:14px}
article.article img{max-width:100%!important}
article.article h1{font-size:20px;border-left:10px solid #f06200;padding:0 10px 0 4px}
article.article h2{font-size:18px;border-left:10px solid #f06200;padding:0 10px 0 4px}
article.article h3,article.article h4,article.article h5,article.article h6{font-size:16px;border-left:10px solid #f06200;padding:0 10px 0 4px}
article.article li{max-width:90%;margin-bottom:5px}
article.article div{width:90%;margin:10px auto}
article.article div div{width:100%!important}
article.article div p{width:100%!important}
article.article div li{width:100%!important}
article.article p div{width:100%!important}
article.article p p{width:100%!important}
article.article>span{display:block;width:90%;margin:10px auto}
article.article .code-zoom{width:100%;padding:20px 0 4px 0;margin-top:-10px;background:url(../images/123.png) #ccc;background-size:cover;box-shadow:inset 0 0 10px #000}
article.article .code-zoom h1,article.article .code-zoom p{color:#fff;text-shadow:1px 1px 2px #000;font-weight:bold}
article.article .code-zoom h1{border-right:10px solid #f06200}
article.article .qrcode{background:#fff;border-radius:6px;overflow:hidden;width:60%;box-shadow:1px 1px 6px #000}

/*会员指南*/
.kuang .box1 {
	height: 30px;
	background-color: #2172A9;
	color: white;
	padding-left: 5px;
}