<include file="Public:adminHead" />
<style type="text/css">
	.table_cl{
		margin: auto;
		margin-top: 30px;
		width: 100%;
		height: 100%;
	}
.table_cl tr th{
	padding:10px 0px 10px 0px;
	text-align: right;
}
</style>
<div id="Right">
	<form action="" method="post" onsubmit="return check()">
	<table class="table_cl">
		<tr><th width="100">微店名：</th><td><input type="text" name="shop_name"  value="{$info.shop_name}" class="input form-control"/></td></tr>
		<!-- <tr><th width="100">密码：</th><td><input type="password" name="pass" id="pwd" class="input form-control"/></td></tr>
		<tr><th>确认密码：</th><td><input type="password" name="re_pass"  id="re_pwd" class="input form-control"/></td></tr>
		<tr><th></th><td><input type="submit" name="sub" value="提交"class="btn btn-warning btn btn-block" /></td></tr> -->
	</table>
	</form>
</div>
<script type="text/javascript">
	function check(){
		var pwd=$("#pwd").val();
		var re_pwd=$("#re_pwd").val();
		var name=$("input[name='shop_name']").val();
		if(pwd!=re_pwd){
			alert("密码不一致");
			return false;
		}
		if(pwd!=""||re_pwd!=""){
		if(pwd.length<6 || re_pwd.length<6){
			alert("请输入至少 6 个字符长度的密码");
			return false;
		}
		}
		if(name==""){
			alert("微店名不能为空");
			return false;
		}
	}
</script>

<include file="Public:adminFoot" />
