<include file="Public:adminHead" />
<div id="Right">
	<form action="" method="post">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
			<tr>
				<th style="width:120px;">公众号ID：</th>
				<td>
					<empty name="gh.gh_id">
					<input class="input" name="gh_id" type="text" size="40" value="" /> gh_3c4b13a06e20
					<else />{$gh.gh_id}</empty>
				</td>
			</tr>
			<tr>
				<th>AppId：</th>
				<td>
					<empty name="gh.AppId">
					<input name="AppId" type="text" class="input" size="40" value="" />
					<else />{$gh.AppId}</empty>
				</td>
			</tr>
			<tr>
				<th>AppSecret：</th>
				<td>
					<empty name="gh.AppSecret">
					<input name="AppSecret" type="text" class="input" size="40" value="" />
					<else />{$gh.AppSecret}</empty>
				</td>
			</tr>
		</table>
	<div class="commonBtnArea">
		<input type="submit" class="btn submit" />
	</div>
	</form>

</div>
<include file="Public:adminFoot" />
